<div class="navbar-container">
  <div class="navbar-inner-container">
    <div class="navbar-left-part">
      <h1 class="fullstack-title">DÉVELOPPEUR FULLSTACK</h1>
      <%#= image_tag "logo.png", id: 'navbar-logo' %>
      <div id="logo-div" style="background-image: url('<%= image_path 'logo.png' %>');"></div>
    </div>
    <div class="navbar-right-part">
    </div>
  </div>
</div>
